*{
    border: solid red 1px;
    box-sizing: border-box;
    /* comprende la dimesione della scatola e conta anche il margine*/
}
html, body{
    margin: 0px;
    padding: 0px;
}

.main-div{
height: 800px;
background-color: blue;
display:flex;
justify-content: center;
}
.frist-child{
    background-color: blueviolet;
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.divider{
    height: 3px;
    background-color: white;
}
.second-child{
    flex-grow: 1;
}
.second-child-fat{
    background-color: green;
    flex-grow: 3;
    display: flex;
}
.second-child-short{
    flex-grow: 3;
    display: flex;
}

.social{
    display: flex;
    flex-grow: 3;
    flex: 100px;
    gap: 30px 30px;
}

.second-child-fat-g1-soggetto2{
    display:flex ;
    margin-top: 30px;
    /* il margin top serve per dare un po' di spazio */

}
