*{
    border: solid red 1px;
    box-sizing: border-box;
    /* comprende la dimesione della scatola e conta anche il margine*/
}
html, body{
    margin: 0px;
    padding: 0px;
}

.main-div{
height: 800px;
background-color: blue;
display:flex;
justify-content: center;
}
.frist-child{
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.divider{
    height: 3px;
    background-color: white;
}
.second-child{
    flex-grow: 1;
}
.second-child-fat{
    flex-grow: 3;
    display: flex;
}

